extends layout

block append stylesheets

block javascripts

block content
  h1 Event created
  h2= title
  .box-container
    .box
      h3 Collect
      img(src="/images/collect.png")
      br
      a(href=fieldLink)= fieldLink
    .box
      h3 Present
      img(src="/images/present.png")
      br
      a(href=presentLink)= presentLink
