extends layout

block append stylesheets

block javascripts

block content
  h1 Event created!
  h2= title
  p For the folks collecting donations, send this link:
  a(href=fieldLink)= fieldLink

  p For the presentation screens, use this link:
  a(href=presentLink)= presentLink
