extends layout

block append stylesheets
  link(rel='stylesheet', href='/stylesheets/field.css', media='screen, projection', type='text/css')

block content
  =title
  #counter
  input#updater(type='number')
