extends layout

block append stylesheets

block content
  h1.small= title
  h2#counter
  input#incrementer(type='number', placeholder='increment')
  input#updater(type='number', placeholder='set value')
