body, html, div[role="main"] {
  height: 100%;
}

div[role="main"] {
  display: table;
}

body {
  background: #506DA3;
  color: white;
  font-family: 'Century Gothic';
  font-size: 10em;
  background-size: cover !important;
}

#counter {
  display: table-cell;
  vertical-align: middle;
}
#counter span.digit {
  overflow: hidden;
  display: inline-block;
  width: .7em;
  background: white;
  color: black;
  margin: .05em;
  -webkit-border-radius: 0.1em;
  -moz-border-radius: 0.1em;
  -ms-border-radius: 0.1em;
  -o-border-radius: 0.1em;
  border-radius: 0.1em;
  padding-top: .1em;
}
