/* line 4, ../sass/present.scss */
body, html, div[role="main"] {
  height: 100%;
}

/* line 6, ../sass/present.scss */
div[role="main"] {
  display: table;
}

/* line 10, ../sass/present.scss */
body {
  background: #506DA3;
  color: white;
  font-family: 'Century Gothic';
  font-size: 10em;
}

/* line 17, ../sass/present.scss */
#counter {
  display: table-cell;
  vertical-align: middle;
}
/* line 21, ../sass/present.scss */
#counter span.digit {
  overflow: hidden;
  display: inline-block;
  width: .7em;
  background: white;
  color: black;
  margin: .05em;
  -webkit-border-radius: 0.1em;
  -moz-border-radius: 0.1em;
  -ms-border-radius: 0.1em;
  -o-border-radius: 0.1em;
  border-radius: 0.1em;
}
